/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bacground-image: url('../images/cover-image-light.png');
  --background-color: #ffeef6;
  --text-color: #353430;
  --bg-text-color: #ff8dcb;
  --title-text-color: #353430;
  --content-title-color: #353430;
  --slogon-color: #ffc2e6;
  --border-button-color: #35343066;
  --rec: none;
}

@media (prefers-color-scheme: light) {
  :root{
  --bacground-image: url('../images/cover-image-light.png');
  --background-color: #ffeef6;
  --text-color: #353430;
  --bg-text-color: #ff8dcb;
  --title-text-color: #353430;
  --content-title-color: #353430;
  --slogon-color: #ffc2e6;
  --border-button-color: #35343066;
  --rec: none;
}
}