/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
background-color: var(--background-color);
background-image: var(--bacground-image);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
font-size: var(--text-size);
color: var(--text-color);
font-weight: var(--text-weight);
letter-spacing: var(--letter-spacing);
font-family: 'IBM Plex mono', sans-serif;
}

.link {
  text-shadow: 2px 2px var(--bg-text-color);
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
}

.link:focus {
  border: 1px solid var(--text-color);
}

.rec {
  display: var(--rec);
  position: absolute;
  align-self: start;
  right: 39px;
  top: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.rec::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  top: 50%;
  left: 135%;
  border-radius: 50%;
  transform: translateY(-50%);
  box-shadow: 0px 0px 4px 2px var(--bg-text-color);
  background-color: var(--bg-text-color);
}

.decorated-zone {
  position: relative;
  z-index: 0;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  z-index: -1;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--bg-text-color);
  border-block-start: 1px solid var(--bg-text-color);
  inset-inline-end: 10px;
  inset-block-start: 10px;
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--bg-text-color);
  border-block-end: 1px solid var(--bg-text-color);
  inset-inline-start: 10px;
  inset-block-end: 10px;
}

.header {
  height: 100hv;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 1fr;
  justify-items: end;
  align-items: center;
  padding: 10px;
  gap: 55px;
}

.header__theme-menu {
  justify-self: end;
  align-self: end;
  padding-bottom: 10px;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  color: var(--title-text-color);
  text-transform: lowercase;
  width: 70px;
}

.header__theme-menu-button:active {
  border: 1px solid var(--title-text-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--border-button-color);
}

.header__theme-menu-button:focus {
  border: none;
  border-bottom: 1px solid var(--title-text-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--title-text-color);
}

.slogon {
  justify-self: start;
  align-content: center;
  font-size: 116px;
  line-height: 83%;
  color: var(--slogon-color);
  font-weight: bold;
}
.header_slogon {
  text-shadow: 4px 4px 0 var(--bg-text-color);
}

.header_text {
  justify-self: start;
  align-self: start;
  font-weight: bold;
  background-color: var(--bg-text-color);
  color: #000028;
  line-height: 23.4px;
  height: 117px;
}

.main {
  padding-inline: 10px;
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: var(--text-weight);
}

.why_section {
  padding-block-start: 40px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content);
  gap: 20px;
}

.section_title {
  color: var(--title-text-color);
  font-size: var(--text-size);
}

.why_section_content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, min-content);
  gap: 20px;
}

.section_content_block {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, min-content);
  gap: 10px;
}

.content_title {
  color: var(--content-title-color);
  background-color: var(--bg-text-color);
  font-size: var(--text-size);
}

.content_text {
  color: var(--text-color);
  font-weight: 400;
  line-height: 23.4px;
}

.what_section {
  padding-block-start: 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, min-content);
  gap: 20px;
}

.what_section_content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, min-content);
  gap: 20px;
}

.ideas_section {
  padding-block-start: 11px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, min-content);
  gap: 20px;
}

.ideas_section_content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, min-content);
  gap: 20px;
}

.content_subtitle {
  font-weight: normal;
  background-color: var(--bg-text-color);
  font-size: var(--text-size);
  color: var(--content-title-color);
}

.pictures_section {
  padding-block-start: 48px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, min-content);
  gap: 10px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, min-content);
  gap: 10px;
}

.gallery img {
  max-width: 100%;
  height: auto;
}

.footer {
  height: 100hv;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  justify-items: end;
  align-items: center;
  padding: 10px;
  margin-block-start: 40px;
}

.fotter_slogon {
  text-shadow: 2px 2px 0 var(--bg-text-color);
}

/* медиазапрос для экранов шире 768px */

@media (min-width: 768px) {
  .rec {
    right: 49px;
    top: 22px;
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }


  .header {
    min-height: 1024px;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    padding-left: 0;
    row-gap: 162px;
    column-gap: 15px;
  }

  .header__theme-menu {
    grid-column: 2;
    grid-row: 1;
  }

  .slogon {
    font-size: 120px;
  }

  .header_slogon {
    grid-column: span 2;
    grid-row: 2;
  }

  .header_text {
    grid-column: 2;
    grid-row: 3;
  }

  .main {
    padding-inline: 20px;
  }

  .why_section {
    padding-block-start: 60px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, min-content);
  }

  .what_section {
    padding-block-start: 60px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, min-content);
  }

  .what_section.section_title {
    grid-row: 1;
    grid-column: 1;
  }
  .what_section_content {
    grid-row: 2;
    grid-column: 1/3;
  }

  .ideas_section {
    padding-block-start: 80px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, min-content);
  }

  .ideas_section_title {
    grid-column: 1;
    grid-row: 1/3;
  }

  .content_subtitle {
    grid-column: 1;
    grid-row: 1;
  }

  .ideas_section.section_content_block {
    grid-column: 2/3;
    grid-row: 2;
  }

  .pictures_section {
    padding-block-start: 57px;
    gap: 20px;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
    gap: 20px;
    grid-template-areas:
    "sunset sunset icecream"
    "tape   books   icecream"
    "tape   street  street";
  }

  .gallery img {
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  .sunset { 
    grid-area: sunset; 
  }
  
  .ice-cream { 
    grid-area: icecream; 
  }

  .tape {
    grid-area: tape; 
  }

  .books { 
    grid-area: books;
   }

  .street { 
    grid-area: street; 
  }

  .footer {
    height: 100hv;
    min-height: 1024px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 20px;
    margin-block-start: 60px;
  }

  .fotter_slogon {
    text-shadow: 2px 2px 0 var(--bg-text-color);
    justify-self: center;
  }
}

/* медиазапрос для экранов шире 1024px */

@media (min-width: 1024px) {
  .rec {
    right: 49px;
    top: 22px;
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .header {
    min-height: 768px;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    padding-block-start: 17px;
    padding-left: 0;
    row-gap: 114px;
    column-gap: 20px;
  }

  .header__theme-menu {
    grid-column: 1/3;
    grid-row: 1;
    justify-self: center;
    align-self: start;
    padding-inline-start: 20px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .slogon {
    font-size: 157px;
  }

  .header_text {
    grid-column: 2;
    grid-row: 3;
    height: max-content;
  }

  .main {
    padding-inline: 20px;
  }

  .why_section {
  column-gap: 10px;  
  }

  .what_section {
    grid-template-columns: repeat(3, 1fr);
  }

  .what_section_content {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .ideas_section {
    padding-block-start: 60px;
    column-gap: 10px;
  }

  .footer {
    height: 100hv;
    min-height: 768px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 20px;
    margin-block-start: 60px;
  }

  .fotter_slogon {
    text-shadow: 2px 2px 0 var(--bg-text-color);
    justify-self: center;
  }
}